<script>
  
$('#new-product').click(function(){
    $("#product-form").attr('action', '/product/create');
})

    $('.add-new-product').submit(function (e) {
        e.preventDefault();
        var data = {
            name: $('#name').val(),
            price: $('#price').val(),
            skuid: $('#skuid').val(),
            category: $('#category').val(),
            subcategory: $('#subcategory').val(),
            color: $('#color').val(),
            munit: $('#munit').val(),
            weight: $('#weight').val(),
            stock: $('#stock').val(),
            sdesc: $('#sdesc').val(),
            lgdesc: $('#lgdesc').val(),
        }

        $(this).ajaxSubmit({
            data: data,
            contentType: 'application/json',
            success: function (response) {
                console.log('image uploaded and form submitted');
                $('#product-table tr:last').after(`<tr><th scope="row"><%= products.length+1%></th>
                    <td><img src="" alt="Image"></td>
                    <td>${data.name}</td>
                    <td>554ds-</td>
                    <td>${data.price}</td>
                    <td>${data.weight}</td>
                    <td><%= date.format(new Date(),'DD MMM YY')%><br><%= date.format(new Date(),'DD MMM YY')%></td>
                    <td>${data.stock}</td>
                    </tr>`
                );
                $('#addProductModal').modal('toggle')
            }
        });
        return false;
    });


    // $('#edit').click(function () {
    //     alert($("#edit"))
    // })

    function edit(id) {
        $("#product-form").attr('action', '/product/update/'+id);
        // $("#product-form").attr('method', 'POST');
        $.ajax({
            url: '/product/edit/' + id,
            type: 'GET',
            contentType: 'application/json',
            cache: false,
            success: function (product) {
                $('#name').val(product.ProductName);
                $('#price').val(product.ProductPrice);
                $('#skuid').val(product.ProductSKU);
                $('#category').val(product.ProductCategoryID);
                $('#subcategory').val(product.ProductSubCategoryID);
                $('#color').val(product.ProductColorOptions);
                $('#munit').val(product.ProductMeasurmentUnit);
                $('#weight').val(product.ProductWeight);
                $('#stock').val(product.ProductStock);
                $('#sdesc').val(product.ProductShortDesc);
                $('#lgdesc').val(product.ProductLongDesc);
                $('#product-image').attr('src',product.ProductThumb.split('public').pop(1))
            }            
        })
        $('#addProductModal').modal('toggle')

    }

    // $('#save-product').click(async function () {
    //     var data = {
    //         name: $('#name').val(),
    //         price: $('#price').val(),
    //         category: $('#category').val(),
    //         weight: $('#weight').val(),
    //         stock: $('#stock').val(),
    //         sdesc: $('#sdesc').val(),
    //         lgdesc: $('#lgdesc').val(),
    //         isLive: $('isLive').val()
    //     }
    //     var url = '/product/create'
    //     var type = 'POST'
    //     var status = await ajaxRequest(url, type, data)
    //     if (status === 'success') {
    //         $('#product-table tr:last').after(`<tr><th scope="row"><%= products.length+1%></th>
    //         <td><img src="" alt="Image"></td>
    //         <td>${data.name}</td>
    //         <td>554ds-</td>
    //         <td>${data.price}</td>
    //         <td>${data.weight}</td>
    //         <td><%= date.format(new Date(),'DD MMM YY')%><br><%= date.format(new Date(),'DD MMM YY')%></td>
    //         <td>${data.stock}</td>
    //         </tr>`
    //         );
    //         $('#addProductModal').modal('toggle')
    //     }

    // });

    // function ajaxRequest(url, type, data) {
    //     return new Promise((resolve, reject) => {
    //         $.ajax({
    //             // url: url,
    //             type: type,
    //             contentType:'application/json',
    //             cache: false,
    //             data: data,
    //             success: function () {
    //                 $('#error-group').css('display', 'none');
    //                 alert('Your submission was successful');
    //                 resolve('success');
    //             },
    //             error: function (data) {
    //                 reject('fail')
    //                 // $('#error-group').css('display', 'block');
    //                 // var errors = JSON.parse(data.responseText);
    //                 alert(JSON.stringify(data))
    //                 // var errorsContainer = $('#errors');
    //                 // errorsContainer.innerHTML = '';
    //                 // var errorsList = '';

    //                 // for (var i = 0; i < errors.length; i++) {
    //                 //     errorsList += '<li>' + errors[i].msg + '</li>';
    //                 // }
    //                 // errorsContainer.html(errorsList);
    //             }
    //         });
    //     })

    // }




</script>