<style>
    .label {
        cursor: pointer;
    }

    .progress {
        display: none;
        margin-bottom: 1rem;
    }

    .alert {
        display: none;
    }

    .img-container img {
        max-width: 100%;
    }
</style>


<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Product List</h2>
                <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet
                    vestibulum mi. Morbi lobortis pulvinar quam.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0"></h5>
                    <p></p>
                    <button type="button" data-toggle="modal" id="new-product" data-target="#addProductModal"
                        class="btn btn-primary">Add
                        New</button>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-striped table-bordered second" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                    <th>Salaryy</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% products.forEach((product,index)=>{%>
                                <tr>
                                    <td
                                        style="width:50px; height:50px; background-color:red;text-align:center; vertical-align:middle">
                                        <img src="<%= (product.ProductThumb).split('public').pop(1)%>"
                                            onerror="this.src='/uploads/images/noimage.jpg'"
                                            style="max-height:100%; max-width:100%" />
                                    </td>
                                    <td><%= product.ProductName%></td>
                                    <td><%= product.ProductSKU%></td>
                                    <td><%= product.ProductPrice%></td>
                                    <td><%= product.ProductWeight%></td>
                                    <td><%= date.format(product.ProductCreatedDate,'DD MMM YY')%><br><%= date.format(product.ProductUpdatedDate,'DD MMM YY')%>
                                    </td>
                                    <td><%= product.ProductStock%></td>
                                    <td><a class="nav-link" id="edit" onclick="edit(<%= product.ProductID%>)"><i class="fas fa-edit
                                        "></i></a></td>

                                </tr>
                                <%})%>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="add-new-product" enctype="multipart/form-data" id="product-form" method="POST">
                        <div class="form-group">
                            <label for="name">Product Name</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <!-- <div class="form-group">
                            <label for="image">Product Image</label>
                            <input type="file" class="form-control" name="imagename" id="image" accept="image/*">
                            <img src="" id="product-image" alt="">
                        </div> -->
                        <!-- <button type="button" data-toggle="modal" id="new-product-image" data-target="#modal"
                            class="btn btn-primary">Add Image</button> -->


                        <label class="label" data-toggle="tooltip" title="Change your avatar">
                            <img class="rounded" id="avatar"
                                src="https://avatars0.githubusercontent.com/u/3456749?s=160" alt="avatar">
                            <input type="file" class="sr-only" id="input" name="image" accept="image/*">
                        </label>

                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>
                        <div class="alert" role="alert"></div>

                        <div class="form-group">
                            <label for="skuid">Product SKU ID</label>
                            <input type="text" class="form-control" id="skuid">
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text">₹</span>
                                <input type="number" class="form-control" id="price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="category">Product Category</label>
                            <select class="form-control form-control-lg" id="category">
                                <option value="1">Wearable</option>
                                <option value="2">Consumable</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subcategory">Product Sub Category</label>
                            <select class="form-control form-control-lg" id="subcategory">
                                <option value="1">Wearable</option>
                                <option value="2">Consumable</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="color">Product Colors</label>
                            <select class="form-control form-control-lg" id="color">
                                <option value="1">Red</option>
                                <option value="2">Green</option>
                                <option value="3">Yellow</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="munit">Measuring Unit</label>
                            <input type="text" class="form-control" id="munit">
                        </div>
                        <div class="form-group">
                            <label for="weight">Wight</label>
                            <div class="input-group-append">
                                <input type="number" class="form-control" id="weight">
                                <span class="input-group-text">Grams</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="stock">Total Stock</label>
                            <input type="number" class="form-control" id="stock">
                        </div>
                        <div class="form-group">
                            <label for="sdesc">Short Description</label>
                            <input type="text" class="form-control" id="sdesc">
                        </div>
                        <div class="form-group">
                            <label for="lgdesc">Long Description</label>
                            <textarea type="textarea" max="1000" class="form-control" id="lgdesc"></textarea>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>






    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="img-container">
                        <img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="crop">Crop</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            var avatar = document.getElementById('avatar');
            var image = document.getElementById('image');
            var input = document.getElementById('input');
            var $progress = $('.progress');
            var $progressBar = $('.progress-bar');
            var $alert = $('.alert');
            var $modal = $('#modal');
            var cropper;

            $('[data-toggle="tooltip"]').tooltip();

            input.addEventListener('change', function (e) {
                var files = e.target.files;
                var done = function (url) {
                    input.value = '';
                    image.src = url;
                    $alert.hide();
                    $modal.modal('show');
                };
                var reader;
                var file;
                var url;

                if (files && files.length > 0) {
                    file = files[0];

                    if (URL) {
                        done(URL.createObjectURL(file));
                    } else if (FileReader) {
                        reader = new FileReader();
                        reader.onload = function (e) {
                            done(reader.result);
                        };
                        reader.readAsDataURL(file);
                    }
                }
            });

            $modal.on('shown.bs.modal', function () {
                cropper = new Cropper(image, {
                    autoCropArea: 0.5,
                    ready: function () {
                        //Should set crop box data first here
                        var canvasData = cropper.getCanvasData();
                        var cropBox = cropper.getCropBoxData()
                        cropper.setCropBoxData(cropBox).setCanvasData(canvasData);
                        // cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
                    }
                });
            }).on('hidden.bs.modal', function () {
                cropper.destroy();
                cropper = null;
            });

            document.getElementById('crop').addEventListener('click', function () {
                var initialAvatarURL;
                var canvas;

                $modal.modal('hide');

                if (cropper) {
                    canvas = cropper.getCroppedCanvas({
                        width: 160,
                        height: 160,
                    });
                    initialAvatarURL = avatar.src;
                    avatar.src = canvas.toDataURL();
                    $progress.show();
                    $alert.removeClass('alert-success alert-warning');
                    canvas.toBlob(function (blob) {
                        var formData = new FormData();
                        formData.name = 'Abhishek'
                        formData.append('imagename', blob, 'imagename.jpg');
                        $.ajax('/product/image', {
                            method: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,

                            xhr: function () {
                                var xhr = new XMLHttpRequest();

                                xhr.upload.onprogress = function (e) {
                                    var percent = '0';
                                    var percentage = '0%';

                                    if (e.lengthComputable) {
                                        percent = Math.round((e.loaded / e.total) * 100);
                                        percentage = percent + '%';
                                        $progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);
                                    }
                                };

                                return xhr;
                            },

                            success: function () {
                                $alert.show().addClass('alert-success').text('Upload success');
                            },

                            error: function () {
                                avatar.src = initialAvatarURL;
                                $alert.show().addClass('alert-warning').text('Upload error');
                            },

                            complete: function () {
                                $progress.hide();
                            },
                        });
                    });
                }
            });
        });
    </script>

    <%- include('./product.script.html') %>




</div>

<%- contentFor('headerLink') %>
<link rel="stylesheet" href="/assets/cropperjs/css/cropper.css">
<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
<link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/libs/css/style.css">
<link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/datatables/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/datatables/css/buttons.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/datatables/css/select.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="/assets/vendor/datatables/css/fixedHeader.bootstrap4.css">

<%- contentFor('footerLink') %>
<script src="/assets/cropperjs/js/cropper.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
<script src="/assets/vendor/multi-select/js/jquery.multi-select.js"></script>
<script src="/assets/libs/js/main-js.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="/assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="/assets/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
<script src="/assets/vendor/datatables/js/data-table.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>