<!-- <form class="uploadImage" enctype="multipart/form-data" action="/ajaxform" method="POST">
    <input type="text" id="title">
    <input type="file" name="imagename" id="imagename" accept="image/*">
    <input type="submit" name="submit" value="Submit">
 </form>
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
 <script>
    $('.uploadImage').submit(function(e){
      e.preventDefault();
      
      var title = $('#title').val(); 
      
      $(this).ajaxSubmit({
        data: {title: title},
        contentType: 'application/json',
        success: function(response){
          console.log('image uploaded and form submitted');     
        }
    });
      return false;
 });
 </script> -->

 <a href="/product/list">Product List</a>